<!DOCTYPE html>
<html>
<%- include("../fragmente/head") %>
<body>
    <%- include("../fragmente/header") %>
    
    <div class="fullscreen-video-bg">
            <video autoplay muted loop>
                <source src="../../resurse/imagini/cars.mp4" type="video/mp4">
            </video>
    </div>

    <main class="content-over-video">
        <section id="adauga_anunt" class="adauga_anunt">
            <h2>Adaugă un anunț</h2>
            <p>
                Indiferent dacă ești o persoană fizică sau un <b>dealer</b> autorizat, pe <b><abbr title="Site vânzări mașini">SVM</abbr></b> oferim aceeași șansă tuturor, așa că <b>adaugă un anunț</b> gratuit cu mașina ta. Nu acceptăm oferte de promovare a anunțurilor și fiecare anunț este verificat de către o persoană autorizată, deci puteți fi sigur că pe site-ul nostru nu există oferte false.
            </p>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
</body>
</html>