<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= titlu %></title>
</head>
<body>
    <h1><%= titlu %></h1>
    <p><%= text %></p>
    <% if (imagine) { %>
        <img src="<%= imagine %>" alt="Eroare">
    <% } %>
</body>
</html>