<footer>

    <h2>Date de contact</h2>
    <a href="#">Începutul paginii</a><br>
    <a href="tel:+40728999999">Telefon</a><br>
    <a href="mailto:fcoman@gmail.com">Mail</a><br>
    <a href="https://wa.me/40728999999">Whatsapp</a><br>
    <a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4355355,26.0970064,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D" target="_blank">Locația noastră centrală</a>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8843011451936!2d26.097006412257667!3d44.4355354709552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1741013877122!5m2!1sen!2sro" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br>


    <section>
        <h3>Surse</h3>
        <ul>
            <li>Favicon: <a href="https://openmoji.org/library/emoji-1F3CE/">link</a></li>
            <li>Eroare 404: <a href="http://www.freepik.com">Designed by Freepik</a></li>
            <li>Erori 400,403,500: <a href="http://www.freepik.com">Designed by stories / Freepik</a></li>
            <li>Eroare generală: <a href="http://www.vecteezy.com">link</a></li>
        </ul>
    </section>
    <small>
        &copy; <time datetime="2024-02-24T18:00:00+03:00">24 februarie 2024</time>
    </small>
</footer>