<head>
    <title>SVM</title>
    
        <meta charset="UTF-8"><!-- codificarea în memorie a caracterelor-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat când ajungem la CSS -->
        <meta name="keywords" content="masina, vanzare, cumparare, anunt, diesel, electrica, hybrid, camioneta"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Site vanzari masini, anunturi dealeri si persoane fizice"><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <meta name="author" content="Mitrica Teodor">  <!-- autorul/autoarea paginii-->     
        <link rel="icon" type="image/png" href="/resurse/imagini/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="SVM" />
        <link rel="manifest" href="/resurse/imagini/favicon/site.webmanifest" />
        <script src="/js/theme-toggle.js" defer></script>
        


        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
        <!-- Font Awesome - pentru iconuri -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" type="text/CSS" href="/resurse/stiluri/general.css"/>
        <link rel="stylesheet" href="/resurse/stiluri/custom.css">
        <link rel="stylesheet" href="/resurse/stiluri/general.css">
        <link rel="stylesheet" href="/resurse/stiluri/galerie-animata.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        
        <!-- Adăugarea animației pentru iconuri -->
        <style>
            .animated-car {
                animation: bounce 2s infinite;
            }

            @keyframes bounce {
                0%, 100% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-10px);
                }
            }
        </style>
</head>