<header>
    <h1>SVM</h1>

    <nav>
        <div class="menu-toggle" tabindex="0">
          <i class="fas fa-bars"></i>
        </div>
        
        <ul>
          <li tabindex="0">
            <a href="/">
              <i class="fas fa-home"></i>
              <span>Acasă</span>
            </a>
            <ul>
              <li><a href="/#recomandari">Recomandări</a></li>
              <li><a href="/#tabel">Top vânzări</a></li>
            </ul>
          </li>
          <li><a href="/vanzari_masini">Mașini de vânzare</a></li>
          <li><a href="/adauga-anunt">Adaugă anunț</a></li>
          <li><a href="/galerie">Galerii</a></li>
        </ul>
      </nav>
    
</header>