/*//Suprascrie variabilele Bootstrap
$primary: $color-primary;
$secondary: $color-secondary;
$body-color: $color-text-dark; // Culoarea textului globală
$border-radius: 8px; // Raza borderelor
$font-family-base: 'Arial', sans-serif; // Font implicit
$headings-font-size: (
  1: 2.5rem, // h1
  2: 2rem,    // h2
  3: 1.75rem, // h3
  4: 1.5rem,  // h4
  5: 1.25rem, // h5
  6: 1rem     // h6
);

//Breakpoint-uri personalizate pentru ecrane medii și mari
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px, // Ecran mediu
  lg: 992px, // Ecran mare
  xl: 1200px,
  xxl: 1400px
);
*/
$primary: #CF291D;
$secondary: #BFBFBF;
$body-color: #131313;
$body-bg: #ECECEC;
$border-color: #1D1D1D;
$link-color: $primary;
$link-visited-color: #A3002B;

// 2. Setări pentru butoane
$btn-border-radius: 0.5rem;
$btn-border-width: 2px;
$btn-padding-y: 0.5rem;
$btn-padding-x: 1rem;

// 3. Setări pentru range input
$form-range-thumb-width: 1.5rem;
$form-range-thumb-height: 1.5rem;
$form-range-thumb-bg: $primary;
$form-range-thumb-border: 0;
$form-range-track-bg: $secondary;

.produse-list .card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.produse-list .card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}


.filtre {
    .card {
        background: lighten($body-bg, 3%);
        border: 1px solid $border-color;
    }
    
    .form-range::-webkit-slider-thumb {
        box-shadow: 0 2px 4px rgba($body-color, 0.2);
    }
}

// 4. Import Bootstrap DUPĂ definirea variabilelor
@import "../../node_modules/bootstrap/scss/bootstrap";
$form-range-track-bg: $secondary;