$color-primary: #CF291D;
$color-secondary: #BFBFBF;
$color-text-light: #ECECEC;
$color-text-dark: #131313;
$color-border: #1D1D1D;
$color-visited: #A3002B;
$nav-height: 60px;
$submenu-width: 220px;
$transition-time: 0.3s;

// Funcție alternativă pentru darken
@function darken-color($color, $amount) {
  @return mix(black, $color, $amount);
}

@mixin transition($property) {
  transition: $property $transition-time ease;
}

@mixin gradient-bar($position) {
  content: '';
  position: absolute;
  top: 0;
  #{$position}: 0;
  width: 3px;
  height: 0;
  background: linear-gradient(to bottom, $color-text-light, $color-border);
  @include transition(all);
}

body {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-text-light: #{$color-text-light};
  --color-text-dark: #{$color-text-dark};
  --color-border: #{$color-border};
  --color-visited: #{$color-visited};
  background-color: $color-text-light;
  color: $color-text-dark;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  @include transition(font-size);
}

nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: $color-primary;
    z-index: 100;
    
    > li {
      position: relative;
      
      > a {
        display: flex;
        align-items: center;
        padding: 0 25px;
        line-height: $nav-height;
        color: $color-text-light;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        @include transition(all);
        
        &:hover {
          background-color: darken-color($color-primary, 10%);
          font-size: 1.1rem;
        }
        
        .fa-home {
          display: none;
          margin-right: 8px;
        }
      }
      
      ul {
        position: absolute;
        top: $nav-height;
        left: 0;
        width: $submenu-width;
        background-color: darken-color($color-primary, 5%);
        transform: scaleY(0);
        transform-origin: top;
        @include transition(transform);
        box-shadow: 0 10px 15px rgba(0,0,0,0.2);
        flex-direction: column;
        
        li {
          a {
            position: relative;
            padding: 12px 25px;
            display: block;
            color: $color-text-light;
            white-space: nowrap;
            
            &::before {
              @include gradient-bar('left');
            }
            
            &::after {
              @include gradient-bar('right');
            }
            
            &:hover {
              background-color: darken-color($color-primary, 15%);
              
              &::before, &::after {
                height: 100%;
              }
            }
          }
        }
      }
      
      &:hover {
        ul {
          transform: scaleY(1);
        }
      }
    }
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
    padding: 15px;
    color: $color-text-light;
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
    nav {
      ul {
        display: flex;
        align-items: center;
        
        > li {
          > a {
            display: inline-flex;
            align-items: center;
            height: $nav-height;
            padding: 0 15px;
            font-size: 0.9rem;
            
            &:first-child {
              padding: 0 10px;
              .fa-home {
                display: inline-block;
                font-size: 1.2rem;
                margin-right: 0;
              }
              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    nav {
      position: relative;
      min-height: $nav-height;
  
      .menu-toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 15px;
        color: $color-text-light;
        font-size: 1.5rem;
        z-index: 1001;
      }
  
      > ul {
        position: absolute;
        top: $nav-height;
        left: 0;
        width: 100%;
        background: $color-primary;
        flex-direction: column;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease;
        pointer-events: none;
        z-index: 1000;
      }
  
      &:hover > ul,
      &:focus-within > ul {
        transform: scaleY(1);
        pointer-events: auto;
      }
  
      > ul > li {
        width: 100%;
  
        > a {
          padding: 15px;
          display: flex;
          align-items: center;
          position: relative;
  
          .fa-home {
            display: inline-block;
            margin-right: 10px;
          }
        }
  
        > ul {
          background: darken-color($color-primary, 8%);
          transform: scaleY(0);
          transform-origin: top;
          transition: transform 0.3s ease;
          height: 0;
        }
  
        &:hover > ul,
        &:focus-within > ul {
          transform: scaleY(1);
          height: auto;
          display: block;
        }
  
        &:hover,
        &:focus-within {
          margin-bottom: 150px; 
        }
      }
    }
  }
  

  @media print {
    * {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    body::before {
      content: "Acesta este un proiect școlar!";
      display: block;
      width: 80%;
      margin: 2cm auto 1cm;
      padding: 10px;
      text-align: center;
      border: 2px dotted #000;
      font-weight: bold;
      page-break-after: avoid;
    }
  
    img, video, iframe, figure, picture, .container-iframe, 
    .taburi-iframe, #link-top, .diamond, .tooltip {
      display: none !important;
    }
  
    main {
      display: block !important;
    }
  
    section {
      page-break-inside: avoid;
      break-inside: avoid;
    }
  
    a {
      color: #000 !important;
      text-decoration: none !important;
    }
  
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem !important;
      text-decoration: underline;
      page-break-after: always;
      break-after: page;
    }
  
    nav, .menu-toggle {
      display: none !important;
    }
  
    body::after {
      content: "Mitrică Teodor";
      position: fixed;
      bottom: 1cm;
      right: 1cm;
      width: 100px;
      height: 2cm;
      border: 3px double #000;
      opacity: 0.65;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
    }
  
    @page :left {
      margin-left: 2.5cm;
      margin-right: 0.5cm;
    }
  
    @page :right {
      margin-right: 2.5cm;
      margin-left: 0.5cm;
    }
  
    footer {
      page-break-before: always;
      break-before: page;
    }
  
    table {
      page-break-inside: auto;
      break-inside: auto;
    }
  
    tr {
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
 

main {
  display: grid;
  gap: 10px;
  padding: 20px;
  grid-template-areas: 
    "header header header header"
    "zona1 zona1 zona1 zona1"
    "zona1 zona1 zona1 zona1"
    "zona2 zona2 zona8 zona8"
    "zona3 zona6 zona8 zona8"
    "zona5 zona6 zona8 zona8"
    "zona5 zona4 zona4 zona7"
    "zona9 zona9 zona9 zona9"
    "zona10 zona10 zona10 zona10"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 1024px) {
    grid-template-areas: 
      "header header"
      "zona1 zona1"
      "zona2 zona8"
      "zona3 zona8"
      "zona6 zona8"
      "zona5 zona4"
      "zona7 zona7"
      "zona9 zona10"
      "footer footer";
    grid-template-columns: 1fr 1fr;
  }
  
  @media (max-width: 768px) {
    grid-template-areas: 
      "header"
      "zona1"
      "zona2"
      "zona3"
      "zona6"
      "zona5"
      "zona4"
      "zona8"
      "zona7"
      "zona9"
      "zona10"
      "footer";
    grid-template-columns: 1fr;
  }
}

header { 
  grid-area: header;
  background-color: $color-primary;
  color: $color-text-light;
  padding: 15px;
  border-bottom: 3px solid $color-border;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

footer {
  grid-area: footer;
  background-color: rgba($color-secondary,85%);
  color: $color-text-dark;
  padding: 15px;
  border-top: 3px solid $color-border;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.prezentare { grid-area: zona1; }
.tabel { grid-area: zona2; }
.calendar { grid-area: zona3; }
.informatii { grid-area: zona4; }
.utilizatori_online { grid-area: zona5; }
.statistici { grid-area: zona6; }
.date_site { grid-area: zona7; }
.recomandari { grid-area: zona8; }
.vanzari_masini { grid-area: zona9; }
.adauga_anunt { grid-area: zona10; }

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $color-visited;
  }
}

section {
  background-color: rgba($color-text-light,85%);
  padding: 15px;
  border: 2px solid $color-border;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

html {
  font-size: 16px;
  @include transition(font-size);
  @media (max-width: 1024px) {
    font-size: 15px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

h1 {
  font-size: 2rem;
  @include transition(font-size);
  @media (max-width: 1024px) {
    font-size: 1.85rem;
  }
  @media (max-width: 768px) {
    font-size: 1.7rem;
  }
}

h2 {
  font-size: 1.75rem;
  @include transition(font-size);
  @media (max-width: 1024px) {
    font-size: 1.6rem;
  }
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.container-iframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .taburi-iframe {
    display: flex;
    gap: 10px;
    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: $color-secondary;
      color: $color-text-light;
      border-radius: 5px;
      font-weight: bold;
      @include transition(background-color);
    }
  }
}

#link-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.6;
  @include transition(opacity);
  &:hover {
    opacity: 1;
    .diamond {
      background-color: $color-border;
    }
    .triangle {
      border-bottom-color: $color-primary;
    }
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
  .diamond {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 3px solid $color-border;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(background);
  }
  .triangle {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid $color-border;
    transform: rotate(-45deg);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    @include transition(border-bottom-color);
  }
  .tooltip {
    margin-top: 5px;
    background-color: $color-border;
    color: $color-text-light;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    @include transition(opacity);
  }
}

.table-container {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
  max-height: 400px;
  padding: 10px;
  table {
    min-width: 600px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    caption {
      caption-side: bottom;
      font-style: italic;
      padding: 10px;
      font-size: 14px;
      color: $color-secondary;
    }
    thead th {
      border: 3px solid $color-border;
      font-weight: bold;
      padding: 10px;
      text-transform: uppercase;
      background-color: $color-primary;
      color: $color-text-light;
    }
    tbody {
      td {
        border: 1px solid $color-border;
        padding: 10px;
      }
      tr:nth-child(odd) {
        box-shadow: 0 4px 10px rgba($color-primary, 0.2);
        color: $color-primary;
      }
      tr:nth-child(even) {
        box-shadow: 0 4px 10px rgba($color-secondary, 0.2);
        color: $color-border;
      }
      tr:hover {
        background-color: rgba($color-primary, 0.1);
        font-size: 1.2em;
        @include transition(all);
      }
    }
    tfoot td {
      border: 1px solid $color-border;
      padding: 10px;
    }
  }
}

math {
  font-family: "Arial", sans-serif;
  font-size: 1.2em;
  color: $color-text-dark;
  mi {
    font-style: italic;
    font-weight: bold;
    color: $color-primary;
  }
  mo {
    color: $color-border;
    font-weight: bold;
    &:first-of-type, &:last-of-type {
      color: $color-visited;
      font-size: 1.3em;
    }
  }
  mfrac {
    color: $color-secondary;
    font-weight: bold;
    font-size: 1.1em;
  }
}


a:visited {
  color: $color-visited;
}


a[href^="http"] {
  position: relative;
  padding-left: 1.2em;
  
  &::before {
      content: '⮳';
      position: absolute;
      left: 0;
      font-size: 1.5em; 
      line-height: 0.75; 
      color: $color-primary;
      @include transition(color);
  }
  
  &:hover::before {
      color: darken-color($color-primary, 15%);
  }
}

main a {
  position: relative;
  display: inline-block;
  padding: 2px 4px;
  transition: all $transition-time ease;
  
  background-image: radial-gradient(
      circle at center,
      rgba($color-primary, 0.3) 0%,
      rgba($color-primary, 0.3) 40%,
      transparent 80%,
      transparent 100%
  );
  background-position: center;
  background-size: 0;
  background-repeat: no-repeat;
  
  &:hover {
      background-size: 100%;
  }
}

a:active {
  border: 2px solid $color-primary;
  border-radius: 3px;
  padding: 0 2px;
  box-shadow: 0 0 3px rgba($color-primary, 0.5);
}

nav a {
  background-image: none !important;
  &:active {
      border: none !important;
      box-shadow: none !important;
  }
}

nav {
  a:visited {
      color: $color-text-light !important;
  }
  
  a[href^="http"]::before {
      content: none !important;
  }
}

.prezentare {
  figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      max-width: 800px;

      picture {
          width: 100%;
          img {
              width: 100%;
              height: auto;
              border-radius: 8px;
              box-shadow: 0 4px 8px rgba(0,0,0,0.2);
          }
      }

      figcaption {
          text-align: center;
          margin-top: 10px;
          font-style: italic;
          color: $color-border;
          font-size: 0.9em;
          width: 100%;
      }
  }

  @media (max-width: 1024px) {
      figure {
          max-width: 600px;
          figcaption {
              font-size: 0.85em;
          }
      }
  }

  @media (max-width: 768px) {
      figure {
          max-width: 90%;
          figcaption {
              font-size: 0.8em;
              padding: 0 10px;
          }
      }
  }

  @media (max-width: 480px) {
      figure {
          max-width: 100%;
          img {
              border-radius: 5px;
          }
      }
  }
}

figure {
  @include transition(all);
  transition-property: max-width, padding;
}

.my-custom-element {
  margin: 0;
}

.text-coloane {
    column-count: 3;
    column-rule: 2px solid var(--color-border);
    column-gap: 2rem;

    @media (max-width: 992px) {
        column-count: 1;
        column-rule: none;
    }
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.anim-text-container {
    overflow: hidden;
    white-space: nowrap;
}

.anim-text {
    animation: scroll 15s linear infinite;
    display: inline-block;
    padding-right: 100%;
}

@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

@media screen and (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  thead {
    display: none;
  }

  tbody {
    tr {
      margin-bottom: 1rem;
      border: 1px solid #ccc;
    }

    td {
      position: relative;
      padding-left: 50%;
      text-align: left;
      border: none;
      border-bottom: 1px solid #eee;
      background: #f8f0f0;

      &::before {
        content: "";
        position: absolute;
        left: 0.75rem;
        top: 0;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        color: #b30000;
        font-size: 14px;
      }

      &:nth-of-type(1)::before {
        content: "Loc";
      }

      &:nth-of-type(2)::before {
        content: "Produs";
      }

      &:nth-of-type(3)::before {
        content: "Categorie";
      }

      &:nth-of-type(4)::before {
        content: "Vânzări (buc)";
      }
    }

    //ignora randul de total
    tr:last-of-type td {
      padding-left: 1rem;

      &::before {
        content: none;
      }
    }
  }
}

.fullscreen-video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1; // Pune videoclipul în spatele conținutului

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
    }
}

$animation-duration: 10s;

@keyframes backgroundFade {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;

  .background-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0;
    animation: backgroundFade $animation-duration * 2 infinite;

    &.slide-1 {
      background-image: url('/resurse/imagini/bg1.jpg');
    }

    &.slide-2 {
      background-image: url('/resurse/imagini/bg2.jpg');
      animation-delay: $animation-duration;
    }
  }
}

//stilizare hr
.lista-anunturi {
    background: rgba($color-text-light, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.anunt-item {
    padding: 15px;
    font-size: 1.1em;
    color: $color-text-dark;
}

.efect-css-stilizare-hr {
  height: 10px;
  border: none;
  position: relative; //ca sa se pozitioneze gradientele fata de el nu de pagina
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;//inaltimea liniilor
    background-repeat: repeat;
  }

  // Primul gradient (sus)
  &::before {
    top: 1px; // sus
    background-image: repeating-linear-gradient(to right,$color-primary 0 4px,transparent 0 10px);
    background-size: 12px 100%;
  }

  // Al doilea gradient (jos)
  &::after {
    bottom: 1px; //jos
    background-image: repeating-linear-gradient(to right, $color-primary 0 4px,transparent 0 10px);
    background-size: 12px 100%;
    background-position: 6px 0;//se muta cu un patrat la dreapta
  }
}

//cerinta duotone
.efect-css-duotone {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;

  &:hover {
    .duotone-image::before {
      background: linear-gradient(
        to bottom,
        $color-secondary 0%,
        rgba($color-secondary, 0.8) 90%,
        rgba($color-secondary, 0) 100%
      );
    }
    .duotone-image::after {
      background: linear-gradient(
        to bottom,
        rgba($color-visited, 0) 0%,
        rgba($color-visited, 0.8) 10%,
        $color-visited 100%
      );
    }
  }
}

.duotone-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    mix-blend-mode: multiply;
    transition: all 3s cubic-bezier(0.4, 0, 0.2, 1);//tranzitia nu merge??
    pointer-events: none;
  }

  &::before {
    top: 0;
    bottom: 55%;
    background: linear-gradient(
      to bottom,
      $color-primary 0%,
      rgba($color-primary, 0.8) 90%,
      rgba($color-primary, 0) 100%
    );
    mix-blend-mode: screen;
    z-index: 1;
    transition-property: background;
  }

  &::after {
    top: 45%;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba($color-border, 0) 0%,
      rgba($color-border, 0.8) 10%,
      $color-border 100%
    );
    mix-blend-mode: multiply;
    z-index: 2;
    transition-property: background;
  }
}


.gallery-container {
  display: grid;
  gap: 40px;
  padding: 50px 5%;
  grid-template-areas: 
    "zona1 zona2 zona3"
    "zona4 zona14 zona5"
    "zona6 zona7 zona8"
    "zona9 zona14 zona10"
    "zona11 zona12 zona13";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  counter-reset: gallery-counter;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    grid-template-areas: 
      "zona1 zona2"
      "zona4 zona5"
      "zona6 zona7"
      "zona8 zona9"
      "zona10 zona11"
      "zona12 zona13";
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    gap: 30px;
    padding: 40px 5%;
  }

  @media (max-width: 768px) {
    grid-template-areas: 
      "zona1"
      "zona2"
      "zona3"
      "zona4"
      "zona5"
      "zona6"
      "zona7"
      "zona8"
      "zona9"
      "zona10"
      "zona11"
      "zona12"
      "zona13";
    grid-template-columns: 1fr;
    max-width: 600px;
    gap: 25px;
    padding: 30px 5%;
  }
}

.gallery-item {
  position: relative;
  overflow: visible;
  border-radius: 12px;
  background: transparent;
  transition: all 0.125s ease;
  width: 100%;
  min-height: 400px;

  figure {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  picture {
    flex: 1;
    display: block;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.125s ease;
    transform-origin: top center;
  }

  figcaption {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 40px);
    background: linear-gradient(to bottom, rgba(255,255,255,0.95) 80%, transparent);
    padding: 20px 30px;
    text-align: center;
    z-index: 2;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    
    &::before {
      content: counter(gallery-counter, lower-roman) ". ";
      counter-increment: gallery-counter;
      font-weight: 700;
      color: #2c3e50;
      font-size: 1.2em;
      margin-right: 10px;
    }
  }

  &:hover {
    img {
      transform: scale(1.4) translateY(15%);
      opacity: 0.5;
      border-radius: 15px;
    }
    
    figcaption {
      transform: translateX(-50%) translateY(-10px);
      opacity: 1;
    }
  }
}

.gallery-gap.zona14 {
  @media (min-width: 769px) {
    display: block;
    height: 40px;
  }
  
  @media (max-width: 768px) {
    display: none;
  }
}

.galerie-main {
    padding: 2rem 5%;
    max-width: 1400px;
    margin: 0 auto;
    
    h1 {
        text-align: center;
        margin-bottom: 2rem;
        color: var(--color-primary);
    }
}